<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC3r-ud9eYeWxoPKRx2xM28jfXla8IL_GQ</string>
	<key>GCM_SENDER_ID</key>
	<string>853547383020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dkbuilds.Race-Time-Predictor</string>
	<key>PROJECT_ID</key>
	<string>race-time-predictor-587df</string>
	<key>STORAGE_BUCKET</key>
	<string>race-time-predictor-587df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:853547383020:ios:f714d479310ce224d30dc9</string>
</dict>
</plist>
